<div style="display: none;">
  <span class="curr-page">{{page}}</span>
  <span class="total-pages">{{pages}}</span>
</div>

<ul class="pagination pagination-sm d-flex align-items-center justify-content-center pt-2" role="navigation"
  aria-label="Pagination">
  <li class="pagination-previous"></li>
</ul>